@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background: #321672;
}

::-webkit-scrollbar-thumb:hover {
  background: #61dafb;
}

/* Global text styles */
h1, h2 {
  color: #321672;
}

p {
  color: #333;
}